flex {
  display: flex;
}
w-full {
  width: 100%;
}
flex-col {
  flex-direction: column;
}
items-center {
  align-items: center;
}
justify-center {
  justify-content: center;
}
gap-8 {
  gap: 8px;
}
p-20 {
  padding: 20px;
}
